:root{
    --primary-color: #fff;
    --secondary-color: #333;
}

.dark-theme{
    --primary-color: #333;
    --secondary-color: #fff;
}

body{
    background: var(--primary-color);
    font-family: 'Varela Round', sans-serif;
}

.mp-wrapper{
    max-width: 400px;
    height: 100vh;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mp-btn{
    text-align: right;
    margin: 10px 0;
}

.mp-btn-label{
    position: relative;
    display: block;
    margin: 0 0 0 auto;
    width: 45px;
    height: 25px;
    border: solid 1px var(--secondary-color);
    border-radius: 20px;
    background: var(--secondary-color);
}

.mp-btn-label::before{
    position: absolute;
    left: 0;

    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: var(--primary-color);
    content: "";
    transform: translateX(0);
    transition: transform 200ms;
}

.checkbox:checked + .mp-btn-label{background: var(--secondary-color);}
.checkbox:checked + .mp-btn-label::before{
    background: var(--primary-color);
    transform: translateX(20px);
}

.mp-btn input{display: none;}

.mp-img{
    text-align: center;
}

.mp-img img{
    border-radius: 10px;
    object-fit: cover;
    border: solid 1px #333;
}

.mp-title{
    margin: 30px 0 20px 0;
    text-align: center;
}

.mp-title h1{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.mp-title span {
    color: var(--secondary-color);
}

.mp-position{
    width: 100%;
}

.mp-position input{
    display: block;
    width: 100%;
    height: 5px;
    background: var(--secondary-color);
    border-radius: 5px;
}

.mp-time{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.mp-time time{
    display: block;
    font-size: 12px;
    margin-top: 10px;
    color: var(--secondary-color);
}

.mp-action{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mp-action li{
    cursor: pointer;
    color: var(--secondary-color);
}